.futures
	margin-bottom 70px
	display block

.radio__hide
	position absolute
	left -9999px

.futures__list
	display inline-flex

.futures__item 
	margin-right 12px

.title-futures
	margin-bottom 15px
.description-futures
	margin-bottom 9px

.label--radio
	align-items center


	

.radio__fake
	margin-right 6px
	display inline-block
	width 41px	
	height 45px
	content ''		
	background-image url(../images/sprites/decor.png)
	background-position 0 -68px
	

.radio__fake--cheked
	width 41px	
	height 45px
	background-image url(../images/sprites/decor.png)
	background-position -49px -68px