.about__checkbox
	margin-bottom 70px



.about__checkbox--list
	
	columns 3


.about__checkbox--item
	display inline-block
	height 40px
	

.checkbox__text
	font-family checkbox__font
	font-size checkbox__size
	text-align left


.label
	display flex
	align-items flex-end

.checkbox__fake
	margin-right 6px
	display inline-block
	width 24px	
	height 24px
	content ''		
	background-image url(../images/sprites/decor.png)
	background-position -130px -19px


.checkbox__fake--cheked
	width 24px	
	height 28px
	background-image url(../images/sprites/decor.png)
	background-position -98px -19px
	
	 

.title__checkbox
	margin-bottom 20px

.description__checkbox
	margin-bottom 30px

.csssr__link
	text-decoration underline
	color #1f5f97