/*Font Style */
title__size = 24px
title__font = 'pt_sansbold'
skill__size = 13px

desc__font = 'pt_sansregular'
desc__size = 15px


name__font = 'pt_sansbold'
name__size = 22px

data__font = 'courier_newregular'
data__size = 30px

checkbox__font = 'pt_sansbold'
checkbox__size = 21px

skill__size = 13px