extends /blocks/layout-default/layout-default
include ../blocks/header/header
include ../blocks/about__info/about__info
include ../blocks/about__checkbox/about__checkbox
include ../blocks/skills/skills
include ../blocks/about__words/about__words
include ../blocks/futures/futures
include ../blocks/footer/footer

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	.wrapper
		// block header
		section.header
			+header()
		// end block header
		// block info
		section.about__info
			+about__info()
		// end block info
		// block about checkbox
		section.about__checkbox
			+about__checkbox()
		// end block about checkbox
		// block js skill
		section.skills
			+skills()
		// end block js skill
		// block about words
		section.about__words
			+about__words()
		// end block about words
		// block futures
		section.futures
			+futures()
		// end block futures
		// block data
		section.footer
			+footer()
		// end block data