.header
	margin-bottom 65px
	padding-top 165px	
	display flex
	flex-direction row
	justify-content space-between
.header__logo
	position relative
	top -105px
.header__stamp
	position relative
	top -115px
	
