mixin header()
	.header__logo
		img(class="header__image" src="assets/images/logo.png")
	.header__title
		img(class="header__image" src="assets/images/title.png")
	.header__stamp
		img(class="header__image" src="assets/images/stamp.png")