mixin about__info()
	ul.about__info--list
		li.about__info--item
			span.about__info--name.name Полное ФИО
			span.about__info--data.data Романчук Дмитрий Валентинович
		li.about__info--item
			span.about__info--name.name Год рождения
			span.about__info--data.data 1981
		li.about__info--item
			span.about__info--name.name Место жительства
			span.about__info--data.data г.Житомир, Украина
		li.about__info--item
			span.about__info--name.name Скайп
			span.about__info--data.data dimaskiev81
		li.about__info--item
			span.about__info--name.name Почта
			span.about__info--data.data manager.ua@gmail.com
