.about__info
	margin-bottom 75px
	display block

.about__info--list
	overflow hidden

.about__info--item
	margin-bottom 25px
	
.name
	font-family name__font
	font-size name__size

.data
	display inline-block
	font-family data__font
	font-size data__size

	
.data-underline
	&::after
		position relative
		top 15px
		display inline-block
		height 5px
		content ''
		background-image url(../images/sprites/decor.png)
		background-position 0 0

.about__info--name
	margin-right 15px