mixin about__info()
	ul.about__info--list
		li.about__info--item
			span.about__info--name.name Полное ФИО
			.data__wrapper
				span.about__info--data.data.data-underline Романчук Дмитрий Валентинович
		li.about__info--item
			span.about__info--name.name Год рождения
			.data__wrapper
				span.about__info--data.data.data-underline 1981
		li.about__info--item
			span.about__info--name.name Место жительства
			.data__wrapper
				span.about__info--data.data.data-underline г.Житомир, Украина
		li.about__info--item
			span.about__info--name.name Скайп
			.data__wrapper
				span.about__info--data.data.data-underline dimaskiev81
		li.about__info--item
			span.about__info--name.name Почта
			.data__wrapper
				span.about__info--data.data.data-underline manager.ua@gmail.com
