.about__info
	margin-bottom 35px
	display block

.about__info--name
	position relative
	top 11px
	margin-right 15px

.about__info--list
	 overflow hidden

.about__info--item
	margin-bottom 25px

.name
	font-family name__font
	font-size name__size

.data
	font-family data__font
	font-size data__size

.data__wrapper
	display inline-block

	// width 1500px

	
.data-underline
	position relative
	left 15px
	&:after
		position relative
		left -15px
		margin-bottom 15px
		padding-bottom 4px
		display block
		width 1500%
		text-decoration none
		content ''		
		background url(../images/line.png) repeat-x
		background-position 100% 100%
		
 
