.about__words
	margin-bottom 60px
	display flex
	flex-direction column

	

.words-underline
	display inline
	width 770px
	line-height 2em
	background url('../images/line.png') repeat-x
	background-position 100% 100%

.words__wrapper
	width 100%
	text-align justify