mixin about__words()
	h2.section__title.title Расскажите о себе словами
	p.section__description.description
		| Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
	.words__wrapper
		span.about__words--data.data.words-underline Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quibusdam omnis quidem veniam neque, saepe pariatur magni molestias impedit aliquam fugit dolorum, natus voluptatem esse. Quisquam molestias velit enim, eius?
