/* Расскажите о себе словами */
.about__words
	margin-bottom 50px
	display flex
	flex-direction column

	

.words-underline
	display inline
	width 770px
	line-height 1.8em
	background url('../images/line.png') repeat-x
	background-position 100% 86%

.words__wrapper
	width 100%
	text-align justify

.title__words
	margin-bottom 20px

.description__words
	margin-bottom 25px