.footer
	padding-bottom 60px
	display block

.underline-footer
	position relative
	left 15px
	&:after
		position relative
		left -15px
		margin-bottom 15px
		padding-bottom 4px
		display block
		width 1500%
		text-decoration none
		content ''		
		background url(../images/line.png) repeat-x
		background-position 100% 100%

