/* Уровень владения JS*/
.skills
	margin-bottom 40px

.slider
	margin 0 auto
	display block
	

.ui-slider-horizontal
	position relative
	width 770px	
	height 60px
	background-image url(../images/sprites/decor.png)
	background-position 0 0
	

.ui-slider-handle
	position absolute
	z-index 2
	top 10px	
	margin-left -7px
	width 17px	
	height 14px		
	background-image url(../images/sprites/decor.png)
	background-position -162px -68px

	

.skill__text
	font-family title__font
	font-size skill__size
	text-align left

.skill__item
	margin-right 87px
	display inline-flex
	

.skill__item-second
	margin-right 54px

.skill__item-third
	margin-right 40px
	width 208px


.skill__item-fourth
	margin-right 0
	text-align right

.title__skill
	margin-bottom 15px