.skills
	margin-bottom 60px


.ui-slider-horizontal
	position relative
	width 774px	
	height 60px
	background-image url(../images/sprites/decor.png)
	background-position 0 0

.ui-slider-handle
	position absolute
	z-index 2	
	width 17px	
	height 14px
	cursor default
	background-image url(../images/sprites/decor.png)
	background-position -162px -68px

.ui-slider-range-min
	left -5px 
.ui-slider-range-max
	right -5px