mixin skills()
	h2.section__title.title__skill.title Уровень владения JavaScript
	.slider
	input(type="text" id="inputskill" hidden)
	ul.skill__list
		li.skill__item.skill__item-first.skill__text Не владею
		li.skill__item.skill__item-second.skill__text Использую готовые решения
		li.skill__item.skill__item-third.skill__text Использую готовые решения и умею их переделывать
		li.skill__item.skill__item-fourth.skill__text Пишу сложный JS c нуля