.skills
	margin-bottom 60px
	overflow hidden

.ui-slider
	position relative
	text-align left 
.ui-slider-handle
	position absolute
	z-index 2
	top -.3em
	margin-left -.6em
	width 1.2em
	height 1.2em
	cursor default 


	
.ui-slider-range
	position absolute
	z-index 1
	top 0
	display block
	height 100% 	
	font-size .7em
	background-position 0 0 
	border 1px
	
.ui-slider-horizontal
	height .8em 


.ui-slider-range-min
	left 0 
.ui-slider-range-max
	right 0